body {
  font-family: "Ubuntu", sans-serif;
}
#title {
  background-image: linear-gradient(180deg, #ff4c68, #ef8172);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: 700;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1, 2rem;
  font-family: "Ubuntu", sans-serif;
}

.download-btn {
  margin: 5% 5% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 13%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 60px 100px;
  text-align: center;
  color: #fff;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  cursor: pointer;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-image: linear-gradient(180deg, #ff4c68, #ef8172);
  color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  margin: 30px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.prc-col {
  padding: 3% 2%;
}

.prc-h2 {
  font-size: 1.5rem;
}

.footer-1 {
  text-align: center;
  height: 400px;
}

#cta {
  background-image: linear-gradient(180deg, #ff4c68, #ef8172);
}

#footer {
  text-align: center;
}

.footer-p {
  margin-top: 15px;
  font-size: 12px;
  font-weight: lighter;
  cursor: pointer;
}

.fbtn1 {
  margin-top: 0px;
}

.ficon {
  margin: 90px 0 0 0;
}

.footi {
  padding: 7px;
  cursor: pointer;
}

@media (max-width: 993px) {
  .title-img {
    position: static;
    transform: none;
  }
  #title {
    text-align: center;
  }
}
